<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1> <%= homeTitle %> </h1>
</div>

<div class="box">
     <div class="item">
       <p><%= homeContent %> </p>
     </div>
</div>

<% posts.forEach(function(post){ %>
   <div class="item">
     <h1><%= post.title %></h1>
     <p><%= post.body.substring(0, 100) + " ..." %><a href="/posts/<%= post.title %>">Read more</a></p>
   </div>
<% }) %>

<%- include("partials/footer") -%>
